/*===[PART4: card style, class*10]===============================================================================================*/

.todo-card {
    background-color: #e3f0ff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 10px;
    padding-left: 8px;
    gap: 5px;

    position: relative;
    padding-bottom: 48px;
}

.card-header h4 {
    margin: 0;
}

.card-title{
    padding-top: 8px;
    padding-left: 6px;
    display: block;
}

.list-tag {
    left: 15px;
    bottom: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2px;
}

.card-meta {
    top: 10px;
    right: 15px;
    position: absolute;
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: grey;
    align-items: center;
}

.xp-value {
    background-color: #f1f8ff;
    color: #5f87ba;
    padding: 2px 6px;
    border-radius: 12px;
    font-weight: bold;
    border: 1px solid #c8e1ff;
}

.complete-btn {
    padding: 3px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #7692b5;
    box-shadow: 0 2px 4px grey(0, 0, 0, 5);
    display: flex;
    align-items: center;
    gap: 2px;

    position: absolute;
    bottom: 10px;
    right: 15px;
}

.complete-btn:hover {
    text-decoration: underline;
}

.completed-btn {
    padding: 3px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #7692b5;
    box-shadow: 0 2px 4px grey(0, 0, 0, 5);
    display: flex;
    align-items: center;
    gap: 2px;

    position: absolute;
    bottom: 10px;
    right: 15px;
}
